version: 2
updates:
- package-ecosystem: gradle
  directory: "/"
  schedule:
    interval: daily
  open-pull-requests-limit: 10
  assignees:
  - violetagg
  target-branch: "3.5.x"
  labels:
  - type/dependency-upgrade
  ignore:
  # Don't update Reactor projects
  - dependency-name: io.projectreactor:*
  # JSR305 backport is fixed to last version with annotations (3.0.1)
  - dependency-name: "com.google.code.findbugs:jsr305"
  # Versions > 4 require JDK11+
  - dependency-name: org.mockito:mockito-core
    versions:
    - "[5.a, 6]"
  # Versions > 6 require JDK17+
  - dependency-name: biz.aQute.bnd.builder
    versions:
    - "[7.a, 8]"
  - dependency-name: org.slf4j:*
    versions:
    - "[2.a, 3]"
  - dependency-name: ch.qos.logback:logback-classic
    versions:
    - "[1.3.a, 1.6]"
  # artifactory: don't upgrade to v5
  - dependency-name: "com.jfrog.artifactory"
    versions:
    - ">= 5.0.a"
  # TestNG: 7.6+ doesn't support JDK8 anymore
  - dependency-name: "org.testng:testng"
    versions:
    - ">= 7.6.a"
  - dependency-name: "com.typesafe.akka:akka-actor*"
    versions:
      - "[2.4.11,)"
  rebase-strategy: disabled
- package-ecosystem: github-actions
  directory: "/"
  schedule:
      interval: daily
  open-pull-requests-limit: 10
  assignees:
      - violetagg
  target-branch: "3.5.x"
  labels:
      - type/dependency-upgrade
  rebase-strategy: disabled
